/* 鼠标样式 */
/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://pic.imgdb.cn/item/63d91b61e90d1c00986347cb.webp'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://pic.imgdb.cn/item/63d91b4de90d1c00986301f4.webp'),auto;
}

@font-face {
  font-family: 'tzy';
  /* 字体名自定义即可 */
  /* src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
  src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
  /* 字体文件路径 */
  font-display: swap;
}

body,
.gitcalendar {
  font-family: tzy !important;
}


/*局部css优化*/

.categoryBar-list {
  max-height: 400px;
}

.clock-row {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/

#page-header,
#web_bg {
  -webkit-animation: imgblur 2s 1 ease-in-out;
  animation: imgblur 2s 1 ease-in-out;
}

@keyframes imgblur {
  0% {
      filter: blur(5px);
  }
  100% {
      filter: blur(0px);
  }
}

/*适配使用-webkit内核的浏览器 */

@-webkit-keyframes imgblur {
  0% {
      -webkit-filter: blur(5px);
  }
  100% {
      -webkit-filter: blur(0px);
  }
}
.table-wrap img {
  margin: .6rem auto .1rem !important;
}

/* 标签外挂 网站卡片 start */

.site-card-group img {
  margin: 0 auto .1rem !important;
}

.site-card-group .info a img {
  margin-right: 10px !important;
}

[data-theme='dark'] .site-card-group .site-card .info .title {
  color: #f0f0f0 !important;
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
  color: rgba(255, 255, 255, .7) !important;
}

.site-card-group .info .desc {
  margin-top: 4px !important;
}
/* 代码块颜色 */

figure.highlight pre .addition {
  color: #00bf03 !important;
}

